@model DOT_NET_Examenproject.Models.Klant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KlantId">Aanpassen</a> |
    <a asp-action="Index">Terug naar overzicht van klanten</a>
</div>
