@model DOT_NET_Examenproject.Models.Bedrijf

@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Verwijderen</h1>

<h3>Bent u zeker dat u de bedrijf wilt verwijderen?</h3>
<div>
    <h4>Bedrijf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BedrijfId" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar overzicht van bedrijven</a>
    </form>
</div>
